/* 
 * created: 05/23/2023
 * version: 0.2
 * updated: 05/24/2023
 */

* {
  box-sizing: border-box;
}
/********** for Mobile **********/
body,
header,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li, 
table,
tr,
th,
td {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

body {
  width: 100%;
  background-image: url("../images/back_img_01.jpg");
}
a {
  text-decoration: none;
  color: #000;
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 20px;
}
p,
li,
td {
  font-size: 16px;
}
.center {
  text-align: center;
}

/* header */
header {
  background-color: #000;
  color: #fff;
  height: 60px;
}
header h1 {
  padding-top: 15px;
}

/* main */
main {
  display: block;
  max-width: 431px;
  margin-left: auto;
  margin-right: auto;
}
.navigation {
  padding: 0.75em 0;
  margin-left: 1em;
  font-weight: bold;
  font-size: 16px;
}
.navigation a {
  border-bottom: 1px solid #000;
}
.b-nav {
  padding: 0 0 1em;
  margin-top: 5px;
  margin-left: 1em;
}
.container {
  margin: 0 0.75em;
}
.sub-container {
  margin-bottom: 1em;
}
.sub-container a {
  border-bottom: solid 1px #333;
}

/* list style */
ul, ol {
  margin-left: 2em;
}
li {
  margin-bottom: 0.5em;
}

/* table style */
table {
  border-collapse: collapse;
}
th, td {
  border: solid 1px #000;
  padding: 5px 1em;
}

/* Player */
.title {
  font-size: 22px;
  margin-bottom: 2px;
  font-weight: bold;
}
.comp {
  text-align: 14px;
  margin-bottom: 2px;
}
audio {
  width: 315px;
}
.lyric {
  font-size: 18px;
  padding: 10px 0;
}

/* footer */
footer {
  background-color: #000;
  color: #fff;
  padding: 8px;
}
footer p {
  font-size: 0.8em;
  font-weight: 400;
}